.btn {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
  cursor: pointer;
  border: 3px solid var(--accent-color);
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px var(--accent-color), 
  2px 2px 0px 0px var(--accent-color), 
  3px 3px 0px 0px var(--accent-color), 
  4px 4px 0px 0px var(--accent-color), 
  5px 5px 0px 0px var(--accent-color);
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 200px;
  background: var(--main-color);
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.btn:disabled { 
  color: var(--disabled); 
  border-color: var(--disabled); 
  cursor: not-allowed; 
  pointer-events: none;
  box-shadow: 1px 1px 0px 0px var(--disabled), 
  2px 2px 0px 0px var(--disabled), 
  3px 3px 0px 0px var(--disabled), 
  4px 4px 0px 0px var(--disabled), 
  5px 5px 0px 0px var(--disabled);
}

@media (max-width: 408px) {
  .btn {
    font-size: 12px;
  }
}
