.togglers {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
  
}

.theme_switcher {
  cursor: pointer;
  filter: var(--image);
}

.sound_switcher {
  cursor: pointer;
  filter: var(--image);
}