.game_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 580px;
  width: 100%;
}

.game_status {
  display: flex;
  gap: 20px;
  align-items: center;
}

.title_round {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid var(--accent-color);
  font-size: 30px;
  width: 55px;
  height: 55px;
}

.clock_icon {
  width: 69px;
  height: 69px;
  filter: var(--image);
}

.title_time {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 150px;
  width: 100%;
}

.time {
  font-size: 30px;
  color: var(--accent-color);
}

@media (max-width: 408px) {
  .game_status {
    gap: 10px;
  }

  .title_round {
    width: 48px;
    height: 32px;
    font-size: 16px;
    border: 4px solid var(--accent-color);
  }

  .clock_icon {
    width: 40px;
    height: 40px;
  }

  .time {
    font-size: 16px;
  }
}
