@font-face {
  font-family: 'Megatech';
  src: url('./assets/fonts/Megatech.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  @apply m-0 p-0 box-border font-sans text-gray-800 select-none;
  font-family: "JetBrains Mono", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}